<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/_404">Error</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#" onclick="window.location.href = window.location.origin">Home</a>
                        <a class="nav-link" href="/main">Assignments</a>
                        <a class="nav-link" href="/aboutme">About Me</a>
                        <a class="nav-link" href="/_404">Error</a>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/create_account">Create Account</a>
                    </div>
                </div>
            </div>
        </nav>