html {
    font-size: 100%;
}
body {
    background-color: #F5F5F5;
}

h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    color:black;
    text-shadow: .2em .2em .2em #C0C0C0;
    margin-left: 20%;
    margin-right: 20%;
}
h3 {
    font-family: "Arial Black", Gadget, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}
p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-left: 20%;
    margin-right: 20%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}